body {
    background-color: #ecf0f1;
}

h1 {
    color: #1B9CFC;
    transition: color 0.5s ease-in-out;
}

.button {
    cursor: pointer;
}

.clicked {
    color: #B33771;
    transition: color 0.5s ease-in-out;
}